* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    
}

.column {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.column-other-items {
    width:100%;
    min-height: 100vh;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

